<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Tienda Flash</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/productos">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/productos/nuevo">Nuevo producto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <div class="form-group">
                <h5 class="">Nuevo Producto</h5>
                <form action="/productos" class="row" method="post" th:object="${producto}">
                    <div>
                        <input type ="hidden" id="id" name="id" th:field="*{id}">
                    </div>
                    <div class="col-md-4">
                        <label for = "nombre" class="" >Nombre: </label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required maxlength="45" minlength="5" th:field="*{nombre}">
                    </div>
                    <div class="col-md-4">
                        <label for="marca" class="">Marca: </label>
                        <input type="text" class="form-control" id="marca" name="marca" th:field="*{marca}" required maxlength="40" minlength="5">
                    </div>
                    <div class="col-md-4">
                        <label for="precio" class="">Precio: </label>
                        <input type="number" class="form-control" id="precio" name="precio" th:field="*{precio}" required maxlength="12" min="0" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="col-md-4">
                        <label for="presentacion" class="">Presentacion: </label>
                        <input type="text" class="form-control" id="presentacion" name="presentacion" th:field="*{presentacion}" required maxlength="45" minlength="4">
                    </div>
                    <div class="col-md-3">
                        <label for="existencia" class="">Cantidad Existencia: </label>
                        <input type="number" class="form-control" id="existencia" name="existencia" th:field="*{existencia}" required maxlength="12" min="0" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="col-md-3">
                        <label for="categoria" class="" >Categoria: </label>
                        <select th:field="*{categoria}" id="categoria" name="categoria" class="form-select form-select-sm" required>
                            <option th:value="null" th:text="'Seleccione una opcion'"></option>
                            <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                        </select>
                    </div>
                    <br>
                    <div class="" style="margin-top: 20px">
                        <input type="submit" value="Guardar" class="btn btn-warning">
                        <a href = "/productos" style="margin-left: 20px">Cancelar</a>
                    </div>
                    
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>        
    </body>
</html>
